name: Fix Yarn Lock
on: workflow_dispatch

permissions:
  contents: write

jobs:
  fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Update Lockfile
        working-directory: frontend
        run: |
          yarn install
          
      - name: Commit and Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add frontend/yarn.lock
          git commit -m "fix: regenerate yarn.lock" || exit 0
          git push